<div class="card" >

<div class="card-header" style="background: yellowgreen">Filtros</div>

<div class="card-body"style="background: yellow">
<form>
  <div class="form-group">
    <label for="de">De</label>
    <input type="number" id="de" class="form-control" placeholder=" Numero">
  </div>
  <div class="form-group">
    <label for="ate">Até</label>
    <input type="number" id="de" class="form-control" placeholder=" Numero">
  </div>

  <button class="btn btn-primary btn-block btn-sn" >Filtrar</button>

</form>

</div>



</div>
